---
 const personalImageAlt = "Juana Zabaleta"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#f4aeff] dark:[&>p>strong]:text-[#f4aeff] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Juana. Empecé en la
      programación por curiosidad y terminé encontrando lo que me apasiona. Actualmente estoy <strong
        >trabajando en el equipo FrontEnd del Ministerio de Justicia de la Provincia de Buenos Aires</strong
      >.
    </p>

    <p>
      A lo largo de estos años he trabajado en entender los problemas de los usuarios y en encontrar una solución a su medida.
      Ante todo me propongo aprender, entender y compartir la programación.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/10 dark:bg-[#F3ADFF]  dark:ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>

