---
const personalImageAlt = "Miguel 츼ngel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/juanazabaleta/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Juana
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-[#f4aeff]  [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 a침os de experiencia en desarrollo FrontEnd y Dise침o UX/UI. <strong>
   
    Estudiante de Analista en Tecnolog칤as de la Informaci칩n y la Comunicaci칩n - UNLP.</strong
    > 
    Especializada en el uso de la creatividad para solucionar problemas.

    De La Plata, Argentina 游뷣릖. 
    
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:info@juanazabaleta.com.ar">
      <MailIcon class="size-4" />
      Contactame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/juanazabaleta/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
